<!--@model K_Burns_Assessment_2.Models.BlogPost

@{
    ViewBag.Title = "Blog";

    var loggedInUser = ViewBag.LoggedInUser;
    var comments = ViewBag.Comments;
    var isSuspended = ViewBag.IsUserSuspended;
}

<style>
    .blog-anchor:hover {
        color: white;
        cursor: pointer;
    }

    .hr-size {
        border: 0;
        border-top: 1px solid #000000;
        opacity: revert;
    }

    .alert-warning {
        --bs-alert-color: #000000;
        --bs-alert-bg: #FFA500;
        --bs-alert-border-color: #FFA500;
    }

    .col-lg-6 {
        width:100%;
    }

    .col-lg-5 {
        width: 40%;
        margin-left: revert;
    }

    .black-text {
        color: #000000;
    }

    .dark-grey-text {
        color: #171717;
    }
</style>-->

<!--***************************************************ALL*****************************************************************************-->

<!--<div class="container-fluid py-5 col-lg-9 margin-top" style="background-color: #FF2400; overflow: hidden;">-->
    <!-- Left Image -->
    <!--<img src="~/images/Icons/@Model.Category.Name .png" alt="Left Image" class="img-left-positioning" />-->

    <!-- Right Image -->
    <!--<img src="~/images/Icons/@Model.Category.Name Mirror .png" alt="Right Image" class="img-right-positioning" />-->

    <!--****************************************TITLE & CATEOGRY NAME************************************************************-->
    <!--<div style="overflow: hidden;">-->
        <!-- Container to clear the float -->
        <!--<h2 class="text-center">@Model.Title</h2>
        <h3 class="text-center White-Text">@Model.Category.Name</h3>
    </div>

    <br />-->

    <!--****************************************MAIN BODY************************************************************-->
    <!--<div>
        <p class="White-Text">@Model.Content</p>
        <p class="grey-text fw-bold d-inline">Post on: @Model.DatePosted By @Model.User.FirstName in @Model.Category.Name</p>
        <a class="White-Text fw-bold blog-anchor float-end">@Model.Comments.Count() Comments</a>

        <hr class="hr-size" />


        @Html.ActionLink("Previous Post", "Blog", new { postId = Model.BlogPostID - 1, direction = "Previous" }, new { @class = "White-Text blog-anchor fw-bold" })
        @Html.ActionLink("Next Post", "Blog", new { postId = Model.BlogPostID + 1, direction = "Next" }, new { @class = "White-Text blog-anchor float-end fw-bold" })

        <hr class="hr-size" />
    </div>-->

    <!--****************************************OTHERS COMMENTS************************************************************-->
    <!--<div>
        <h5 class="White-Text text-decoration-underline">Comments</h5>
        @if (loggedInUser == "")
        {
            <div class="alert alert-warning">
                <strong>USER MUST BE LOGGED IN AS A USER TO WRITE A COMMENT.</strong>
            </div>
        }-->

        <!--****************************************USERS COMMENTS************************************************************-->
        <!--@if (loggedInUser != "")
        {
            <div class="container-fluid py-3 col-lg-6 mb-3 mt-3" style="border-radius: 20px; background-color: dimgray">
                <p class="White-Text fw-bold fst-italic">@loggedInUser:</p>


                @using (Html.BeginForm())
                {
                    <div class="col-lg-5">
                        @Html.EditorFor(model => model.Comments.FirstOrDefault().NewCommentText, new { htmlAttributes = new { @class = "form-control mb-3" } })
                        @Html.ValidationMessageFor(model => model.Comments.FirstOrDefault().NewCommentText, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="COMMENT" class="btn btn-outline-secondary custom-btn-sm" />
                        </div>
                    </div>
                }
            </div>

        }

        @if (isSuspended)
        {
            <div class="alert alert-danger">
                <strong>@loggedInUser IS SUSPENDED FROM COMMENTING.</strong>
            </div>
        }

        @foreach (var item in comments)
        {
            <div class="container-fluid py-3 col-lg-6 mb-3" style="border-radius: 20px; background-color: white;">
                <p class="black-text fw-bold fst-italic">@item.User.FirstName</p>
                <p class="dark-grey-text">@item.CommentText</p>
            </div>

        }

    </div>
</div>-->
