@model K_Burns_Assessment_2.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<main aria-labelledby="title">
    <h2 class="text-center" id="title">@ViewBag.Title.</h2>
    <h4 class="text-center White-Text">Change Password Form</h4>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <hr />

        <div class="ms-4">
            @Html.ValidationSummary("", new { @class = "text-warning" })
            <div class="row">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 col-form-label White-Text" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label White-Text" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label White-Text" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-10 mt-3">
                    <input type="submit" value="Change password" class="btn btn-outline-secondary custom-btn-sm" />
                </div>
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}