@model IEnumerable<K_Burns_Assessment_2.Models.BlogPost>

@{
    ViewBag.Title = "MyBlogPost Admin";
}

<h2 class="text-center">My Blog Posts</h2>

<br />
<p class="text-center">
    @Html.ActionLink("Create New Post", "Create", "Admin", new { @class = "btn btn-outline-secondary custom-btn" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEdited)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-truncate">
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEdited)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BlogPostID }, new { @class = "btn btn-outline-secondary orangered-btn-sm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.BlogPostID }, new { @class = "btn btn-outline-secondary orange-btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogPostID }, new { @class = "btn btn-outline-secondary gold-btn-sm" })
            </td>
        </tr>
    }

</table>

