@model K_Burns_Assessment_2.Models.ViewModels.ChangeRoleViewModel

@{
    ViewBag.Title = "ChangeRole";
}

<h2 class="text-center">Promote A User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">
    @Html.HiddenFor(model => model.OldRole)
    <h4 class="text-center White-Text">Are you sure you want to make changes?</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row White-Text">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Street)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Postcode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Postcode)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EmployementStatus)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EmployementStatus)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RegisteredAt)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RegisteredAt)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IsSuspended)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsSuspended)
                </dd>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <dt class="col-sm-4">
                    @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>
                <dd class="col-sm-8">
                    @Html.DropDownListFor(model => model.Role, Model.Roles, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </dd>
            </dl>
        </div>
    </div>
</div>

<br />

<div class="d-flex justify-content-center d-inline">
    <p>@Html.ActionLink("Back to View Users", "ViewUsers", null, new { @class = "links-colors" })</p>

    <div class="form-group ms-5">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="SAVE" class="btn btn-outline-secondary custom-btn-sm" />
        </div>
    </div>
</div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@